# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/

/app/src/main/java/com/shimizu/ar/core/ar_message/java/common/Infrastructure/MySqlOperation.java
/app/release/app-release.aab
/app/src/main/assets/fonts/Pro-OT2.0.otf
