<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shimizu.ar.core.ar_message.kotlin.ar_message">

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MySplashScreen"
        android:usesCleartextTraffic="false"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ArMessageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.MySplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shimizu.ar.core.ar_message.kotlin.message_text_input.MessageTextInputActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.shimizu.ar.core.ar_message.kotlin.profile_input.ProfileInputActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateVisible" /> <!-- Indicates whether "Google Play Services for AR" (ARCore) is "required" or "optional". -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="" />
    </application>

</manifest>